<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidhi_Creation</title>
    <link rel="stylesheet" href="../Style/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
<style>    
    body{
        background-image: url("../Images/background_image.png");
        background-size: cover;
        height: 150vh; 
    }
</style>    
    <div class="nav_bar">
                <img class="logo" src="/Images/logo.png" alt="">
                <h1><i class="fa-solid fa-gift" style="color: hsl(330, 54%, 38%);"></i> Vidhi_Creation</h1>
                <a href="https://wa.me/qr/BSVTHG7M6H5CL1"><i class="fa-brands fa-whatsapp" style=" color: rgb(7, 121, 20);"></i></a>
                <a href="https://www.instagram.com/vidhi_creation?igsh=MWRoYTg2bDU4am5hZw=="><i class="fa-brands fa-instagram" style="color: #e81e65;"></i></a>
                <a href="mailto:Vidhishah495@gmail.com"><i class="fa-regular fa-envelope" style=" color:rgb(26, 2, 2);"></i></a>
    </div>

    <div class="main_info">
        <p class="info">Celebrate joy with our <em>Exclusive products</em> filled with happiness and warmth for your loved ones.Gift your loved ones something extraordinary.</br>"Craft Moments, uniquely yours."</p>
        <img class="main_image" src="/Images/img_main.jpeg" alt="">
        <p class="year">Since 2015.</p>
        <p><h2 class="one_store">One store for all</h2><ul class="lists">
            <li class="sub_lists">Trousseaupacking / Bridesmaid Hampers.</li>
            <li class="sub_lists">Customized Handmade Articles / Gifts.</li>
            <li class="sub_lists">Remarkable Wedding Invitations(Kankotri).</li>
            <li class="sub_lists">Products available <em>On Rent</em> too.</li>
        </ul></p>
    </div>
    <br>

    <div class="slideshow-container">
        <div class="slideshow fade">
            <img class="temp" src="/Images/temp_2.png" alt="" style="width:100%">
        </div>
        <div class="slideshow fade">
            <img class="temp" src="/Images/temp_1.png" alt="" style="width:100%">
        </div>
        <div class="slideshow fade">
            <img class="temp" src="/Images/temp_4.png" alt="" style="width:100%">
        </div>
        <div class="slideshow fade">
            <img class="temp" src="/Images/temp_3.png" alt="" style="width:100%">
        </div>
    </div>
    <br>
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>


    <div class="categories">
        <h1 class="Categories">Top Categories</h1>
        <p class="category_info">Browse through our unique categories.</p>
    </div>

    <div class="grid-container">
        <a  href="../Templates/chaab.html">
            <div class="grid-item">Chaab<br>
                <div>
                    <img class="profile_photo" src="\Images\chaab_main_img.jpeg" alt="">   
                </div>
                Visit<br>
            </div>
        </a>          
        <a  href="../Templates/shrifal.html"> 
            <div class="grid-item">Shrifal<br>
                <div>
                    <img class="profile_photo" src="\Images\shrifal_1.jpeg" alt="">
                </div>
               Visit<br>
            </div>
        </a>
        <a href="../Templates/chundadi_modyo.html">
            <div class="grid-item">Chundadi Modyo<br>
                <div>
                    <img class="profile_photo" src="\Images\chundadi_modyo_4.jpeg" alt="">
                </div>
                Visit<br>
            </div>
        </a>
        <a href="../Templates/ring_platter.html">
            <div class="grid-item">Ring Platter<br>
                <div>
                    <img class="profile_photo" src="\Images\ring_platter_main_img.jpeg" alt="">
                </div>
                Visit<br>
            </div>
        </a>
        <a href="../Templates/kankotri.html">
            <div class="grid-item">Kankotri<br>
                <div>
                    <img class="profile_photo" src="\Images\kankotri_main_img.jpeg" alt="">
                </div>
                Visit<br>
            </div>
        </a> 
        <a href="../Templates/hampers.html">
            <div class="grid-item">Hampers<br>
                <div>
                    <img class="profile_photo" src="\Images\hampers_main_img.jpeg" alt="">
                </div>
                Visit<br>
            </div>
        </a>
        <a href="../Templates/others.html">
            <div class="grid-item">Other Items<br>
                <div>
                    <img class="profile_photo" src="\Images\others_main_img.jpeg" alt="">
                </div>
                Visit<br>
            </div>
        </a>
        <a href="../Templates/on_orders.html">
            <div class="grid-item">On Orders<br>
                <div>
                    <img class="profile_photo" src="\Images\on_orders_main_img.jpeg" alt="">
                </div>
                Visit<br>
            </div>
        </a>

    </div>


    <div class="categories">
        <h1 class="Categories">Gift Items</h1>
    </div>

    <div class="grid-container">
        <a  href="../Templates/handmade_items.html">
            <div class="grid-item">Handmade Items<br>
                <div>
                    <img class="profile_photo" src="\Images\handmade_main_img.jpeg" alt="">   
                </div>
                Visit<br>
            </div>
        </a>          
        <a  href="../Templates/customized_items.html"> 
            <div class="grid-item">Customized Items<br>
                <div>
                    <img class="profile_photo" src="\Images\customized_main_img.jpeg" alt="">
                </div>
               Visit<br>
            </div>
        </a>
    </div>
    <p class="created-by"></br>Created by: @krishadshah510@gmail.com</br>9372655528</p>
    
    <script>
        let slideIndex = 0;
        showSlides();
        
        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("slideshow");
          let dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}    
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 3000); 
        }
        </script>

</body>
</html>
